# Ignorar archivos generados durante la compilación
*.d
*.slo
*.lo
*.o
*.obj
*.exe
*.out
*.app
*.so
*.dylib
*.lai
*.la
*.a
*.lib

# Ignorar precompiled headers
*.gch
*.pch

# Ignorar Fortran module files
*.mod
*.smod